/* .background {
    background-image: url("../images/landscape.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  } */

/* na ten moment zakomentuje caly plik poniewaz nie jestem zadowolony z tego jak wyglada */