.flex {
    display: flex;
    border: 10px solid #000;
    width: 400px;
    height: 300px;
    justify-content: center;
    flex-flow: column wrap-reverse;
    align-items: center;
    align-content: space-between;
}

.flex__item {
    padding: 20px;
    color: white;
    background: teal;
    margin: 10px;
    flex-basis: 20%;
}