.flex {
  display: flex;
  margin: 50px;
  width: 50px;
  height: 30px;
  justify-content: center;
  flex-flow: column wrap-reverse;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.flex__item {
  display: flex;
  padding: 20px;
  color: white;
  background: teal;
  margin: 20px;
  flex-basis: 20%;
  border: 20px solid black;
  transition: transform 2s linear;
  transform-origin: right bottom;
}

.flex__item:hover {
  background: red;
  transform:rotate(90deg)
}

@media (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
  .flex__item {
    flex-basis: 51%;
    flex-grow: 1;
  }
}

.flex__item--last {
  grid-area: 1 / 2 / span 2 / span 3;
}
