
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
  }
  
  .footer__text {
    font-size: 1rem;
  }
  