.section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    max-width: 800px;
  }
  
  .section__title {
    text-indent: 20px;
    font-size: 2rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .section__subtitle {
    font-size: 1.5rem;
    color: #555;
  }
  
  .section__image-container {
    text-align: center;
  }
  
  .section__image {
    object-fit: cover;
    object-position: 20% 30%;
    max-width: calc(100% - 5%);
    height: auto;
  }
  
  .box {
    background-color: #c5c5c5;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
  }
  
  .box__highlight {
    color: rgb(47, 0, 255);
  }

  .element__decoration {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: teal;
    text-transform: capitalize;
  }